
body {
	/* text-align: center; */
	margin: 100px;
	background-color: #292929;
	color: #FFFAED;
	font-family: 'Instrument Serif';
}

h2 {
	margin-bottom: 100px;
	font-size: 100px;
}

p {
	font-size: 50px;
}

.pj1:hover {
	color: #f84816;
}

.pj2:hover {
	color: #95E744;
}

.pj3:hover {
	color: #62c2b1;
}

.pj4:hover {
	color: #ff0000;
}

.footer {
	margin-top: 100px;
	font-size: 30px;
}